{% extends 'base.html' %}

{% block title %} {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}
<div class="jumbotron">
  <h1 class="display-4">Welcome to TechBhaiya</h1>
  <p class="lead">This is a Website where you can post blog related to any technical query and also take help from another's blog about your problems.
  <br>
  We also try to helping  you in best way that we can do . And if you know the <b> Better Way to solve that problem </b> then you can also give it by writting a blog on our website and help each other .  
  </p>
  <hr class="my-4">
  <p>Here in this website we consider some topic that the people really wants to know and have problems in their daily stuff. <br> We support those people who write their blog in their <b> own regional language or in Hindi</b> . And last of all Thanks For Visiting And also come again.</p>
  <a class="btn btn-primary btn-lg" href="blog/" role="button">Go To Our Blogs</a>
</div>
{% endblock body %}